$gray-blue: #eaedf6;
$logo-color: #5977b3;
$header-text-color: #003296;
$before-color: #EAEDF6;

body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Arial Unicode MS', sans-serif !important;
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.material-symbols-outlined {
  width: fit-content;
}

.grey-icon {
  color: #707070;
}

.blue-icon {
  color: #003296;
}

.ex-link {
  color: #003296;
  font-size: 12px;
  font-weight: bold;
}

.margin-bottom-26 {
  margin-bottom: 26px !important;
}

.header {
  width: 1200px;
  height: 70px;
}

hr {
  padding: 0;
  margin: 0;
  color: #CCCCCC;
}

.bg-body-tertiary {
  background: #fff !important;
}

.form-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 0.3em 0.66em 0.3em;
  font-size: 1em;
  background: #f5f5f5;
  cursor: pointer;
  height: 1.6em;
  box-sizing: content-box;
}

.form-input {
  border: 1px solid #dcdcdc;
  width: 200px;

  &:active {
    border: none;
  }

  &:focus {
    border: 1px solid #003296;
  }
}

i.fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  margin-top: 4px;
  position: relative;
  z-index: 1;
  float: left;
}

i.fa + .search-ico {
  padding-left: 26px;
}

.navbar {
  height: 70px;
  width: 1200px;

  .navigation-container {
    display: flex;
    justify-content: space-between !important;
    padding-left: 46px;

    .logo {
      justify-content: flex-start !important;
      font-size: .8em;
      color: #5977b3;
      padding: 0;

      em {
        padding: 0 0 0 3px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 24px;
          left: -27%;
          top: -20%;
          background-color: $before-color;
        }
      }
    }

    .collapse {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      float: right;

      .nav-link {
        padding: 10px 10px;
        margin-right: 10px;
        color: #003296;
        font-size: .8em;
        position: relative;

        &:hover {
          background: #EAF2FF;
        }

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 24px;
          background: $before-color;
          left: -6%;
        }
      }

      .dropdown:hover .dropdown-menu {
        display: block;
        background: #EAF2FF;
        border: none;
        border-radius: 0;
      }

      .dropdown-toggle::after {
        content: none;
      }

      .dropdown-menu {
        display: none;

        .dropdown-item {
          display: flex;
          justify-content: space-between;
          padding: 12px 28px 12px 20px;
          margin: 0 14px 0 0;
          color: #28282A;
          font-size: 14px;

          &:hover {
            color: #003296;
            background: #EAF2FF;
          }
        }
      }

      .form {
        position: relative;

        .form > ul {
          display: none;
          position: absolute;
        }

        &:hover > ul {
          position: absolute;
          right: 20%;
          display: inline-block;
          width: 23em;
          padding-right: 0.65em;
          padding-left: 0.65em;
          background: #EAF2FF;
          border: none;
          border-radius: 0;
          font-size: 12px;
        }

        .form-search {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}

.slick-slider {

  .slick-list {

    .slick-track {

      img {
        height: 31vw;
        object-fit: cover;
      }
    }
  }
}

.slick-next {
  display: none !important;

  &:before {
    display: none;
  }
}

.product {
  margin: 0 auto;
  width: 1200px;

  .product-container {
    padding: 0 0 0 70px;

    .product-title {
      display: inline-block;
      font-size: 24px;
      color: #100D0D;
      font-weight: bold;
      margin: 0 -2px 16px;
    }

    .row {
      margin: 0;
      padding: 0;

      .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        width: 336px;
        height: 94px;
        border-radius: 0;
        font-size: 12px;

        &:hover {
          border: 1px solid #003296;
        }

        .card-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          color: #000;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;


          &-image {
            display: table;
            float: left;
            width: 32.876%;
          }
        }

        &-partition {
          display: table;
          table-layout: fixed;
          padding-left: 5%;
          padding-right: 10%;
          height: 5.333em;
          width: 56.86%;
          box-sizing: border-box;

          p {
            display: table-cell;
            margin: 0;
            line-height: 1.6;
            vertical-align: middle;
            color: #000;

            &:nth-child(odd) {
              word-wrap: break-word !important;
            }
          }
        }
      }
    }
  }
}